{% extends 'customer_pages/base_login_layout.html' %}

{% load i18n static %}

{% block title %}Transglobal - Confirm Password{% endblock %}

{% block card_content %}
{% if validlink %}
  <h4 class="card-title">Set a new password</h4>
  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}

    <div class="form-group m-0">
      <button type="submit" class="btn btn-primary btn-block">
        Change my password
      </button>
    </div>
  </form>
{% else %}
  <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
{% endif %}
{% endblock card_content %}
