{% extends "admin/change_form.html" %}

{% load i18n admin_list admin_urls admin_modify loading_spinner %}

{% block extrahead %}
  {{ block.super }}
  <script>
    $(document).ready( function() {
      $("#content-main").find(":submit").click(function() {
        $(".loader-container").css("display", "block");
      });
    })
  </script>
{% endblock %}

{% block breadcrumbs %}
  <div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
    &rsaquo; <a href="{% url 'admin:app_list' app_label='parts' %}">{% translate 'Parts' %}</a>
    &rsaquo; <a href="{% url 'admin:parts_part_changelist' %}">{% translate 'Parts' %}</a>
    &rsaquo; [{{ part.full_code }}] Replace {{ part.name|capfirst }}
  </div>
{% endblock %}

{% block content %}
<div id="content-main">
    <form action="" method="POST">
        {% csrf_token %} {% if form.non_field_errors|length > 0 %}
        <p class="errornote">
            "Please correct the errors below."
        </p>
        {{ form.non_field_errors }}
        {% endif %}
        {% if no_integrations %}
        <div style="margin-top: 10px; margin-bottom: 10px; text-align: center;">
            No direct BOM integrations found for this part.
        </div>
        {% else %}
            {% for field in form %}
            <div class="form-row">
                {{ field.errors }}
                {{ field.label_tag }}
                {{ field }}
                {% if field.field.help_text %}
                <p class="help">
                    {{ field.field.help_text|safe }}
                </p>
                {% endif %}
            </div>
            {% endfor %}
            <div class="submit-row">
                <input type="submit" class="default" value="Replace">
            </div>
        {% endif %}
    </form>
    {% loading_spinner text_to_show="Replacing parts..." %}
</div>
{% endblock %}
