{% extends 'customer_pages/base.html' %}

{% load i18n static %}

{% block styles %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static "css/login.css" %}">
{% endblock styles %}

{% block title %}Transglobal - Login{% endblock %}

{% block base_content %}
<div class="login-page">
  {% include 'partials/messages.html' %}
  <section class="h-100">
    <div class="container h-100">
      <div class="row justify-content-md-center h-100">
        <div class="card-wrapper">
          <div class="brand">
            <img src={% static "img/transglobal_llc_logo.png" %} alt="logo">
          </div>
          <div class="card fat">
            <div class="card-body">
              {% block card_content %}
              {% endblock card_content %}
            </div>
          </div>
          <div class="footer text-center">
            Copyright &copy; 2020 &mdash; Transglobal, LLC
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock base_content %}
